<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Order- SB Admin</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
</head>
<body class="sb-nav-fixed">
<div th:replace="~{admin/layout/header :: content}">...</div>
<div id="layoutSidenav">
    <div th:replace="~{admin/layout/sidebar :: content}">...</div>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4">Manger Orders</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item">
                        <a th:href="@{/admin}" class="text-decoration-none">Dashboard</a>
                    </li>
                    <li class="breadcrumb-item active">Orders</li>
                </ol>
                <div class="container mt-5">
                    <div class="row">
                        <div class="col-12 mx-auto">
                            <div class="d-flex justify-content-start">
                                <div>
                                    <h2>
                                        Table Orders
                                    </h2>
                                </div>
                            </div>
                            <hr>
                            <table class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>User</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="order: ${listOrders}">
                                    <td>[[${order.id}]]</td>
                                    <td>
                                       [[${#numbers.formatDecimal(order.totalPrice,0, 'COMMA', 0, 'POINT')}]] đ
                                    </td>
                                    <td>[[${order.user.fullName}]]</td>
                                    <td>[[${order.status}]]</td>
                                    <td>
                                        <a class="btn btn-success" th:href="@{'/admin/order/detail/' + ${order.id}}">View</a>
                                        &nbsp;
                                        <a class="btn btn-warning" th:href="@{'/admin/order/update/' + ${order.id}}">Update</a>
                                        &nbsp;
                                        <a class="btn btn-danger" th:href="@{'/admin/order/delete/' + ${order.id}}">Delete</a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <div th:if="${totalPages > 1}">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination justify-content-start flex-wrap">
                                        <li th:class="${currentPage > 1} ? 'page-item' : 'page-item disabled'">
                                            <a class="page-link" th:href="@{/admin/product?page=1}">First</a>
                                        </li>
                                        <li th:class="${currentPage > 1} ? 'page-item' : 'page-item disabled'">
                                            <a class="page-link" th:href="@{'/admin/product?page=' + ${currentPage - 1}}">Previous</a>
                                        </li>
                                        <li  th:class="${currentPage != i} ? 'page-item' : 'page-item active'" th:each="i : ${#numbers.sequence(1, totalPages)}">
                                            <a class="page-link" th:href="@{'/admin/product?page=' + ${i}}">[[${i}]]</a>
                                        </li>
                                        <li th:class="${currentPage < totalPages} ? 'page-item' : 'page-item disabled'">
                                            <a class="page-link" th:href="@{'/admin/product?page=' + ${currentPage + 1}}">Next</a>
                                        </li>
                                        <li  th:class="${currentPage < totalPages} ? 'page-item' : 'page-item disabled'">
                                            <a class="page-link" th:href="@{'/admin/product?page=' + ${totalPages}}">Last</a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </main>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script th:src="@{/js/scripts.js}"></script>
</body>
</html>
